# OS
.DS_Store

# Env
.env*
web/.env*

# Node / Next.js
node_modules/
web/node_modules/
web/.next/
web/.turbo/
web/.vercel/
web/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


